{% extends "layout.html" %}

{% block content %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<div class="container">
	<div class="row">

		<!--qqwebo&part-->
		<div class="span6">
			<div id="qq_data">
				<ul>
				{% for content in content_qq %}
					<li>
						<p>{{content.from}}</p>
						<p>{{content.text}}</p>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<!--weibo&part-->
		<div class="span6">
			<div id="weibo_data">
				<ul>
				{% for content in content_weibo %}
					<li>
						<ul>
							{% for con in content%}
							<li>{{con}}::::{{content[con]}}</li>
							{% endfor %}
						</ul>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript">

$(document).ready(function(){
	GetWeiboData();
    GetQQData();
});

</script>




{% endblock %}